
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap');
@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}
.logo{
  font-family: 'Parisienne', cursive; 
}
.growvy-pitch-container {
    
    border-top: 8px solid transparent; /* Create a transparent top border for spacing */
    border-image: linear-gradient(to left, rgb(1, 131, 1) 20%, transparent 20%) 1 0 0 0;
    border-image-slice: 1 0 0 0; 
}